<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>TILES</title>
</head>

<body class="">
    <div class="">

    <section class="  flex bg-green-500 ">
        <div class="flex">
            <div class="relative left-20 top-2">
                <img src="assets/cloud 4.svg" alt="" >
                <h3 class="relative left-16 bottom-8 text-white">cloud insider</h3>
            </div>
            <div class="flex ml-64 relative left-96">
                <img src="assets/mdi_user.svg" alt="" class="bg-gray-300 rounded-2xl h-8  relative top-4 left-80">
                <h3 class="ml-2 text-white relative left-80 top-4">info@cloud.com</h3>
            </div>           
        </div>
    </section>
    
    <section class="">
        <div class="flex justify-center relative top-12">
            <!-- <div class="absolute  p-4">
                <h2 class="text-green-500 font-bold text-2xl ">Our Services</h2>
            </div> -->
            <div class=" flex  gap-24 relative  top-24">
                <img src="assets/subscribe3.svg" alt="" class="relative bottom-8">
                <img src="assets/subscribe4.svg" alt="" class="relative bottom-8">
                <img src="assets/subscribe5.svg" alt="" class="relative bottom-8">

                <!-- <div>
                    <img src="assets/subscribe1.svg" alt="">
                    <img src="assets/monitoring.svg" alt="" class="relative bottom-44 left-36">
                </div>
            
                <div>
                    <img src="assets/subscribe2.svg" alt="">
                    <img src="assets/aws_security.svg" alt="" class="relative bottom-44 left-36">
                </div> -->
            </div>
        </div>
    </div>
        </section>

    
</body>
</html>